.information {
  height: 100%;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: yellowgreen;
  border: 2px solid black;
}

.title_information {
  margin-top: 20px;
  margin-bottom: auto;
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 180%;
  font-weight: bolder;
}

.information_box_container {
  width: 60%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information_box {
  display: none;
  width: 100%;
  background-color: lightyellow;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 100%;
}

.name {
  margin-top: auto;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 100%;
}

.page {
  height: 100%;
  width: 80%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: lightyellow;
  border: 2px solid black;
}

.title_page {
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 180%;
  font-weight: bolder;
}

.map_container {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 80%;
}

.slider {
  margin-left: auto;
  width: 17%;
  height: 80%;
  background-color: lightblue;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.slide_container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

.button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: lightyellow;
  color: black;
  font-size: 100%;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1500px) {
  .title_information, .title_page {
    font-size: 3vw;
  }

  .information_box {
    font-size: 1.5vw;
    padding: 1vw;
  }

  .name {
    font-size: 1.5vw;
  }

  .slide_container {
    padding: 1vw;
    gap: 1vw;
  }

  .button {
    font-size: 1.5vw;
    height: 4vw;
  }
}

@media (max-width: 800px) {
  .information {
    width: 100%;
    height: 40%;
  }

  .page {
    width: 100%;
    height: 60%;
    top: 40%;
  }

  .information_box {
    font-size: 2.5vw;
    padding: 1vw;
  }

  .name {
    font-size: 2.5vw;
  }
}
